.root img {
  border-radius: 4px;
  max-width: 100%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.imageContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  margin-bottom: 4rem;
}

.name {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem;
  text-align: center;
}

.description {
  font-size: 0.85rem;
  text-align: center;
  margin: 1rem 0;
}

.mandoVideo {
  margin: 0 auto;
  width: 100%;
  max-width: 500px; /* Responsive width with a maximum */
  aspect-ratio: 16 / 9; /* Maintain aspect ratio */
}
