@font-face {
  font-family: 'Qube1';
  src: url('/fonts/QUBE.woff');
}
@font-face {
  font-family: 'Qube2';
  src: url('/fonts/QUBE.woff2');
}
@font-face {
  font-family: 'Cube1';
  src: url('/fonts/Cube.woff');
}
@font-face {
  font-family: 'Cube2';
  src: url('/fonts/Cube.woff2');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --headerHeight: 100px;
  --footerHeight: 60px;
  /* COLORS */
  --disabled: #dfdfdf;
  --disabledText: #b2b2b2;
  --githubLightPurple: #b802b8;
  --githubPurple: #7c007c;
  --success: #2ea44f;
  --instagram: #e4405f;
  --instagramLight: #f092a7;
  --lightOrange: #ff9651;
  --linkedInBlue: #0072b1;
  --linkedInLightBlue: #00a0dc;
  --orange: #ff7400;
  --purple: #212173;
  --red: #ff0000;
  --yellow: #ff9900;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  font-family: 'Qube1', 'Qube2';
}

.light {
  --background: white;
  --offBackground: #fff0e6;
  --accentBackground: #ffcfae;
  --accentBackgroundLight: #ffcfaeaa;
  --textColor: black;
  --colorHighEmphasis: #ff7400;
  --colorMidEmphasis: #21232c;
  --colorLowEmphasis: #7e8c9a;
}

.dark {
  --background: #0e141b;
  --offBackground: #182635;
  --accentBackground: #d25401;
  --accentBackgroundLight: #d25401aa;
  --textColor: white;
  --colorLowEmphasis: #6c7693;
  --colorMidEmphasis: #f2f5f7;
  --colorHighEmphasis: #ff9651;
}

main {
  flex: 1;
  display: flex;
  overflow-y: auto;
  background-color: var(--background);
  color: var(--textColor);
}

section {
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.not-found-image {
  width: 250px;
  height: 250px;
  animation: wiggle 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite
    alternate-reverse;
  cursor: pointer;
}

@keyframes wiggle {
  from {
    transform: rotate(20deg);
  }
  to {
    transform: rotate(-20deg);
  }
}
