@font-face {
  font-family: 'Qube';
  src: url('/fonts/QUBE.woff2');
}
@font-face {
  font-family: 'Cube';
  src: url('/fonts/Cube.woff2');
}
@font-face {
  font-family: 'Geotalism';
  src: url('/fonts/Geotalism.woff2');
}
@font-face {
  font-family: 'Mecha';
  src: url('/fonts/Mecha.woff2');
}
@font-face {
  font-family: 'ScienceFiction';
  src: url('/fonts/ScienceFiction.woff2');
}
@font-face {
  font-family: 'Sikat';
  src: url('/fonts/Sikat.woff2');
}
@font-face {
  font-family: 'Gravis';
  src: url('/fonts/Gravis.woff2');
}
@font-face {
  font-family: 'Beking';
  src: url('/fonts/Beking.woff2');
}
@font-face {
  font-family: 'Convert';
  src: url('/fonts/Convert.woff2');
}
@font-face {
  font-family: 'Craftsman';
  src: url('/fonts/Craftsman.woff2');
}
@font-face {
  font-family: 'Knight';
  src: url('/fonts/Knight.woff2');
}
@font-face {
  font-family: 'Cookies';
  src: url('/fonts/Cookies.woff2');
}
@font-face {
  font-family: 'Identity';
  src: url('/fonts/Identity.woff2');
}
@font-face {
  font-family: 'demo';
  src: url('/fonts/demo.woff2');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition:
    background-color 0.3s,
    color 0.3s;
}

:root {
  --headerHeight: 80px;
  --footerHeight: 50px;
  /* COLORS */
  --disabled: #dfdfdf;
  --disabledText: #b2b2b2;
  --githubLight: #b802b8;
  --github: #7c007c;
  --success: #2ea44f;
  --instagram: #e4405f;
  --instagramLight: #f092a7;
  --lightOrange: #ff9651;
  --linkedin: #0072b1;
  --linkedinLight: #00a0dc;
  --orange: #ff7400;
  --purple: #212173;
  --red: #ff0000;
  --yellow: #ff9900;
  --buttonBackground: #ff7400;
  --buttonHoverBackground: #ff8c00;
}

html,
body {
  max-width: 100vw;
  height: 100dvh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  padding: 0.5rem;
  padding-top: var(--headerHeight);
  padding-bottom: var(--footerHeight);
  min-height: calc(100dvh - var(--headerHeight) - var(--footerHeight));
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: var(--buttonBackground);
  z-index: 1000;
}

.not-found-image {
  width: 250px;
  height: 250px;
  animation: wiggle 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite
    alternate-reverse;
  cursor: pointer;
}

@keyframes wiggle {
  from {
    transform: rotate(20deg);
  }
  to {
    transform: rotate(-20deg);
  }
}
