.root {
  background-color: var(--accentBackground);
  height: var(--headerHeight);
  display: flex;
  color: white;
}

.navItem {
  padding: 1rem;
  cursor: pointer;
  font-family: 'Qube1', 'Qube2';
}
