.root {
  z-index: 10;
  position: absolute;
  backdrop-filter: blur(10px);
  height: var(--headerHeight);
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
}

.navBar {
  margin-left: calc(var(--headerHeight) * 0.2);
  position: relative;
}

.navList {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {
  padding: 0.5rem;
  font-size: 1.25rem;
  color: var(--colorMidEmphasis);
  cursor: pointer;
  font-family: Qube;
}

.navItem:hover {
  color: var(--colorMidEmphasis);
}

.navItemLink {
  color: inherit;
  text-decoration: none;
}
.navItem.active {
  color: var(--colorHighEmphasis);
}

.underline {
  height: 4px;
  background-color: var(--colorHighEmphasis);
  position: absolute;
  transition:
    left 0.5s ease-in-out,
    width 0.5s ease-in-out;
  bottom: 0;
}

/* Mobile */
.mobileNavTitle {
  display: none;
  margin-left: 1rem;
  font-size: 0.65rem;
  font-weight: bold;
  font-family: Cube;
  color: var(--textColor);
}

/* Media Queries */
@media (max-width: 790px) {
  .navBar {
    display: none;
  }

  .mobileNavBar {
    display: flex;
  }

  .mobileNavTitle {
    display: block;
  }
}
