.root {
  z-index: 10;
  position: absolute;
  backdrop-filter: blur(10px);
  height: var(--headerHeight);
  display: flex;
  align-items: center;
  width: 100%;
  padding-right: 0.5rem;
}

.navBar {
  margin-left: calc(var(--headerHeight) * 0.2);
  position: relative;
}

.navList {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {
  padding: 0.5rem;
  cursor: pointer;
  font-family: Qube;
}

.navItem:hover {
  color: var(--chakra-colors-orange-500);
}

.navItemLink {
  text-decoration: none;
}
.navItem.active {
  color: var(--chakra-colors-orange-500);
}

.underline {
  height: 4px;
  background-color: var(--chakra-colors-orange-500);
  position: absolute;
  transition:
    left 0.5s ease-in-out,
    width 0.5s ease-in-out;
  bottom: 0;
}

/* Mobile */
.mobileNavTitle {
  display: none;
  margin-left: 1rem;
  font-size: 0.5rem;
  font-weight: bold;
  font-family: Cube;
}

.mobileNav {
  display: none;
}

/* Media Queries */
@media (max-width: 790px) {
  .navBar {
    display: none;
  }

  .mobileNav {
    display: flex;
  }

  .mobileNavTitle {
    display: block;
  }
}
