.root {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
  height: var(--footerHeight);
}

.icon {
  height: 1.75rem;
  width: 1.75rem;
}

.instagram {
  color: var(--instagram);
}
.instagram:hover {
  color: var(--instagramLight);
}

.linkedin {
  color: var(--linkedin);
}
.linkedin:hover {
  color: var(--linkedinLight);
}

.github {
  color: var(--github);
}
.github:hover {
  color: var(--githubLight);
}
