.root {
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
  width: 100%;
}

.downloadButton {
  margin: 1rem 0;
}

.imageContainer {
  margin: 0 auto;
}

.resumeImage {
  cursor: zoom-in;
  object-fit: contain;
}

.resumeImageExpanded {
  cursor: zoom-out;
  object-fit: contain;
}
