.tooltipBox {
  position: fixed;
  padding: 8px;
  color: var(--textColor);
  background-color: var(--background);
  border: 1px solid var(--colorMidEmphasis);
  border-radius: 4px;
  white-space: nowrap;
  z-index: 1000;
}
