.root {
  --icon-size: 45px;
  margin-left: auto;
  margin-right: 0.5rem;
  padding: 0;
}

.icon {
  transition: all 0.7s ease;
  fill: var(--chakra-colors-chakra-body-bg);
  height: var(--icon-size);
  width: var(--icon-size);
}
