.root {
  --icon-size: 40px;
  margin-left: auto;
  padding: 0;
}

.rebels,
.empire {
  transition: all 0.7s ease;
  fill: var(--offBackground);
  stroke: var(--textColor);
  height: var(--icon-size);
  width: var(--icon-size);
}
