@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 60% 96%;
    --foreground: 210 20% 10%;
    --card: 200 60% 99%;
    --card-foreground: 210 20% 10%;
    --popover: 200 60% 100%;
    --popover-foreground: 210 20% 20%;
    --primary: 200 100% 40%;
    --primary-foreground: 195 53% 95%;
    --secondary: 190 40% 75%;
    --secondary-foreground: 210 20% 20%;
    --muted: 190 40% 85%;
    --muted-foreground: 210 20% 40%;
    --accent: 195 53% 90%;
    --accent-foreground: 210 20% 20%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 195 53% 90%;
    --success: 140 100% 35%;
    --success-foreground: 0 0% 100%;
    --border: 200 50% 80%;
    --input: 200 50% 90%;
    --input-background: 200 60% 100%;
    --warning: 30 100% 60%;
    --warning-foreground: 0 0% 100%;
    --ring: 200 100% 40%;
    --link: 200 100% 40%;
    --chart-blue: 220 70% 50%;
    --chart-green: 130 60% 45%;
    --chart-orange: 30 80% 55%;
    --chart-pink: 340, 100%, 70%;
    --chart-red: 0, 100%, 50%;
    --chart-yellow: 48, 100%, 50%;
    --chart-purple: 242, 57%, 69%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 195 53% 5%;
    --foreground: 210 20% 95%;
    --card: 200 60% 15%;
    --card-foreground: 210 20% 95%;
    --popover: 200 60% 15%;
    --popover-foreground: 210 20% 80%;
    --primary: 200 100% 50%;
    --primary-foreground: 195 53% 95%;
    --secondary: 200 100% 30%;
    --secondary-foreground: 210 20% 95%;
    --muted: 190 40% 20%;
    --muted-foreground: 210 20% 70%;
    --accent: 190 40% 15%;
    --accent-foreground: 195 53% 90%;
    --destructive: 0 100% 60%;
    --destructive-foreground: 0 0% 100%;
    --success: 140 100% 35%;
    --success-foreground: 0 0% 100%;
    --border: 200 50% 30%;
    --input: 200 50% 30%;
    --input-background: 200 60% 10%;
    --warning: 30 100% 60%;
    --warning-foreground: 0 0% 100%;
    --ring: 200 100% 60%;
    --link: 200 100% 60%;
    --chart-blue: 220 70% 50%;
    --chart-green: 160 60% 45%;
    --chart-orange: 30 80% 55%;
    --chart-pink: 340, 100%, 70%;
    --chart-red: 0, 100%, 50%;
    --chart-yellow: 48, 100%, 50%;
    --chart-purple: 242, 57%, 69%;
  }
}

:root {
  --sidebar-background: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

.dark {
  --sidebar-background: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html,
body {
  @apply h-[100dvh] w-[100dvw] bg-accent antialiased dark:[color-scheme:dark];
}

#main {
  @apply h-full;
}
